img {
  height: 100px;
  width: 70px;
}
.flexcontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  //background-color: DodgerBlue;
}
.flexcontainer>div{
  background-color: #f1f1f1;
  width: 20em;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
