img {
  height: 14em;
  width: 100%;
}
.flexcontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}
.flexcontainer>div{
  background-color: #f1f1f1;
  width: 20em;
  height: 20em;
  margin: 10px;
  text-align: center;
  line-height: ;
  font-size: ;
  //border: 1px solid #707070;
  border-radius: 5px;
  box-shadow: 4px 4px 4px 3px #aaa;
}
.flexcontainer>div:hover{
  //background-color: black;
  //width: 21em;
  //height: 21em;
  opacity: 0.5;
  cursor: pointer;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
